@media screen and (max-width: 1370px){

	

	.get_started_section {
		width: 100%;
		margin: 60px auto;
	}

	.get_started_right_side {
		width: 45%;
	}

	.get_started_right_img {
		width: 100%;
		height: auto;
	}

	.get_started_left_side {
		width: 50%;
	}

	.get_started_left_side h1 {
		font-size: 30px;
		line-height: 40px;
	}

	.get_started_left_side span {
		font-size: 32px;

	}

	.get_started_button {
		width: auto;
		padding: 10px 30px;
	}

}

@media screen and (max-width: 1100px){
	.menu_outer .menu .menu_item:not(:last-child){
		margin-right: 24px;
	}

	.sign_in, .sign_up, .plan_select_button{
		padding: 10px 32px;
	}


}

@media screen and (max-width: 1000px){
	.burger {
		display: block;
	}

	.menu_outer {
		display: none
	}

	.button_container {
		margin-right: 54px;
	}

	.menu_open .burger .line_2{
		display: none;
	}

	.menu_open .burger .line_1{
		transform: rotate(45deg);
				top: 14px;

	}

	.menu_open .burger .line_3{
		transform: rotate(-45deg);
		top: 14px;
	}

	.menu_open .menu_outer {
		padding-top: 20px;
	    display: block;
	    background-color: #ffffff;
	    border: 2px solid #F53838;
	    border-radius: 20px;
	    position: fixed;
	    left: 20px;
	    right: 20px;
	    top: 107px;
	    bottom: 20px;
	}

	.menu_outer .menu .menu_item {
		display: block;
	}

	.menu_outer .menu .menu_item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.menu_open {
		overflow: hidden;
	}

	.menu_outer .menu_link {
		padding: 0 20px;
	}

}


@media screen and (max-width: 767px){

	.statistics_block {
		display: block;
	}

	.statistics_section {
		margin-bottom: 60px;
	}

	.statistics_items {
		margin: 0 auto;
		border: none;
	}

	.statistics_items:not(:last-child){
		border-bottom: 2px solid #EEEFF2;
		border-right: none;
		}

	.statistics_items span {
		font-size: 16px;
	}

	.statistics_items h2 {
		font-size: 20px;
	}

	.features_section {
		display: block;
		margin-bottom: 60px;
		text-align: center;
	}

	.features_head {
		font-size: 25px;
	}

	.features_img {
		width: 45%;
		margin-bottom: 20px;
	}

	.features_right_side {
		margin: 0 auto;
	}

	.plan_section_head {
		font-size: 25px;
	}

	.plan_section {
		padding-top: 40px;
		padding-bottom: 0;
	}

	.plan_intro {
		padding-bottom: 40px;
	}

	.plan_item {
		margin: 0 auto;
	}

	.plan_versions_block {
		display: block;
	}

	.plan_cost h2 {
		font-size: 100%;
	}

	.plan_select_button {
		width: 30%;
		margin: 0 auto;
		padding: 10px 20px;
	}

	.plan_block_item {
		padding: 40px 70px 
	}

	.plan_icon {
		width: 20%
	}

	.footer_box {
		display: block;
		text-align: center;
	}

	.footer_left_side {
		margin: 0 auto;
	}

	.left_side_socials_box {
		justify-content: space-evenly;
	}

	.footer_right_side {
		display: block;
	}

	.footer_right_side_rows {
		margin-right: 0;
		margin-bottom: 30px;
	}

	.footer_right_side_rows {
		width: 100%;
	}
}



